.blackborder {
    background-color: rgb(229, 236, 244);
    border: 2px solid black;
    border-radius: 4px;
}

.button {
    padding: 4px 12px 4px 12px;
    color: rgb(229, 236, 244);
    background-color: black;
    border: none;
    border-radius: 4px;
    width: 100px; //not working?
}

.margin {
    margin: 7px;
}