.back-button {
    padding: 4px 12px 4px 12px;
    color: rgb(229, 236, 244);
    background-color: black;
    border: none;
    border-radius: 4px;
    width: 70px; //not working?
    margin-top: 10px;
}

.blackborder {
    background-color: rgb(229, 236, 244);
    border: 2px solid black;
    border-radius: 4px;
    margin: 0px;
    padding: 10px;

}

.bold {
    font-weight: bold;
}

.margin {
    margin: 7px;
}